body, html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-pale-blue);
}

* {
        box-sizing: border-box;
        --bg-col: #010012;
        --august-col: #ffb381;
        --text-col: #fceae3;
        --border-col: #00adff;
        --light-text-col: #ffb700;
        --alt-text-col: #0085f7;
        --hover-col: #ff4b00;
        --code-col: #00cfff;
        --code-bg-col: #111;
        --bg-pale-blue: #7bc2f7;
        --btn-col: #ff0057;
        border-radius: 0.5vw;
        text-decoration: none;
}

.grid > * {
    border: 1px solid var(--border-col);
    border-radius: 10px;
    background-color: var(--bg-col);
    padding: 1vh 1vw 1vh 1vw;
}


header *, aside, li a {
    color: var(--august-col);
}
.navbar {
    position: relative;  
}
.main-nav {
    float: right;
    list-style-type: none;
    font-size: 2.2vw;
}
.main-nav li{
    display: inline;
    padding-left: 1vw;
    padding-right: 1vw;
}

.main-nav li a {
    color: var(--august-col);
    font-size: 1.6vw;
    text-decoration: none;  
}

.main-nav li a:hover {
    color: var(--hover-col);
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
}

.nav {
    font-size: 1vw;
}

.site-name {
    display: inline;
    float: left;
    color: var(--august-col);
    font-size: 2vw;
}

#sh-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8vh 72vh 12vh 8vh;
    align-items: space-between;
    background-color: var(--bg-col);
}

#sh-grid > * {
	border-radius: 6px;
}

#sh-header {
	grid-column: 1/-1;
	grid-row: 1/2;
}

#shcanv {
    background-color: black;	
	grid-column: 1/2;
	grid-row: 2/3;

}

#sh-code {
	overflow: scroll;
	color: var(--code-col);
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
	grid-column: 2/3;
	grid-row: 2/4;
	white-space: pre-wrap;
	padding-left: 1vw;
	padding-right: 1vw;
}

#sh-controls {
	grid-column: 1/2;
	grid-row: 3/4;
}

#sh-footer {
	grid-column: 1/-1;
	grid-row: 4/5;
}

.sh-btn {
	width: 5vw;
	height: 5vh;
	font-weight: bold;
	border-radius: 10%;
	font-size: 1.5vw;
    float: right;
    margin: 0.5vw;
}

#sh-btn-load {
	color: var(--bg-col);
	background-color:var(--august-col);
}

#sh-btn-pause {
	color: var(--bg-col);
	background-color:var(--august-col);
}
.sh-btn:hover {
	background-color: var(--light-text-col);
	transform: scale(1.05);
}



/*
Font Awsome styling for social icons:
*/
/* social media links in footer */
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 1vh;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa, .icon {
    display: inline;
    padding: 2px 2px;
    background-color: var(--bg-col);
}
.fa-twitter:hover {
    background-color: #00B6F1;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fa-github:hover {
    color: #9840d9;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fa-linkedin:hover {
    background-color: #04669A;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.icon-st:hover {
    background-color: #f321b7;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}