* {
        box-sizing: border-box;
        --bg-dark-col: #010012;
        --august-col: #ff9371;
        --hover-col: #ff4b00;
        --body-bg-col: #010000; 
        --light-text-col: #fff6e5;
        --pale-blue-col: #b4eaff;
        --btn-col-A: #14508d;
        --btn-col-B: #81002b;
        --btn-col-C: #00542c;
        --btn-col-D: #e6580e;
        --btn-col-E: #ba1257;
        --btn-col-F: #0099c8;
        border-radius: 0.5vw;
        text-decoration: none;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-col);
    font-family:  'Rubik', sans-serif;
}

#main-grid {            
    display: grid;
    grid-gap: 1vmax;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    padding: 1em;
}

/* ===================================== */
/* for mobile: */
@media only screen and (max-width: 767px) {
    #main-grid {            
        grid-template-columns: 100%;
        grid-template-rows: 1fr 15fr 12fr 12fr 1fr;
    }

    header {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #canv {
        grid-column: 1/2;
        grid-row: 2/3;        
    }

    #controls {
        grid-column: 1/2;
        grid-row: 3/4;        
    }

    #side-pane {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    #fr-footer {
        grid-column: 1/2;
        grid-row: 5/6;
    }
}
/* === end mobile (<768px) media query === */

/* for desktop: */
@media only screen and (min-width: 768px) {
    #main-grid {            
        grid-template-columns: 5fr 3fr 2fr;
        grid-template-rows: 6vh 80vh 6vh;
    }

    header {
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    #canv {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #controls {
        grid-column: 2/3;
        grid-row: 2/3;    
    }

    #side-pane {
        grid-column: 3/4 ;
        grid-row: 2/3;           
    }

    #fr-footer {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
}
/* === end desktop (>767px) media query === */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#app-name {
    color: var(--august-col);
}

#app-name, #canv, #controls, #side-pane, #fr-footer {
    position: relative;
    border: 3px ridge var(--august-col);
    background-color: var(--bg-dark-col);
    padding: 0;
    margin:  0;
    font-weight: normal;
    object-fit: cover;
    height: auto;
    max-width: 100%;
    /*display: inline-block;*/ /*overridden below for #controls */
}

#canv {
    display: block;
    margin: 0 auto;
}

#app-name {
    font-size: 4vh;
    padding-left: 1.6vw;
    align-self: center;
    color: var(--august-col);
}

#fr-footer {
    font-size: 3vh;
    
}

#controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1vw;
    grid-auto-flow: column;
    padding: 1vw;
    justify-items: stretch;
    align-items: stretch; 
    max-width: 100%;
    height: auto;   
}

#controls > * {
    position: relative;
    object-fit: cover;
    height: auto;
    width: 11vw;
    height: 10vh%;
}

#side-pane {
    overflow-y: scroll;
    color: var(--light-text-col);
    font-size: 2vh;
    padding: 1vw;
}

#side-pane h1 {
    color: var(--btn-col-A);
}

#side-pane h2 {
    color: var(--august-col);
    font-weight: normal;
}

#side-pane strong {
    color: var(--btn-col-E);
}

#side-pane a {
    color: var(--pale-blue-col);
}

input + span {
    color: var(--light-text-col);
}

.btn, input {
    background-color: var(--btn-col-E);
    color: black;
    padding: 3px 3px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 0 1px 1px;
    cursor: pointer;
    margin: 1px 1px 1px 1px;
    transition: transform 0.5s;
    border: 4px groove var(--light-text-col);
}

.btn {
    background-color: var(--btn-col-A);
}

.btn:hover {
    transform: scale(1.04);
    filter: invert(100%);   /* switch black and white text */
    border: 2px solid white;  
}

#zoom-in, #zoom-out {
    background-color: var(--btn-col-F);
}

#reset, #iterate, #redraw {
    background-color: var(--btn-col-C);
}

#move-left, #move-right, #move-up, #move-down {
    background-color: var(--btn-col-B);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*
Font Awsome styling for social icons:
*/
/* social media links in footer */
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 1vh;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 150px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa, .icon {
    display: inline;
    padding: 2px 2px;
    background-color: var(--bg-col);
}
.fa-twitter:hover {
    background-color: #00B6F1;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fa-github:hover {
    color: #9840d9;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fa-linkedin:hover {
    background-color: #04669A;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.icon-st:hover {
    background-color: #f321b7;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}