body {
	background: black;
}
#canvas-wrapper {
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 786px;
    height: 786px;
    background-color: #777;
    border-radius: 3px;
}